/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color_base: #ffffff;
  --color_background: #efefef;
  --color_border: #7f7f7f;
}
