<mat-card class="canvas">
  <h1 mat-dialog-title>Kabel konfigurieren</h1>
  <form
    name="form"
    (ngSubmit)="(f.form.valid)"
    #f="ngForm"
    novalidate
    class="backgorund"
  >
    <div class="form-group">
      <label for="cable.name">Kabelname</label>
      <input
        type="cable.name"
        class="form-control"
        name="cable.name"
        [(ngModel)]="cable.name"
        required
        cable.name
        #cable.name="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="cable.id">Kabel Id</label>
      <input
        type="cable.id"
        class="form-control"
        name="cable.id"
        [(ngModel)]="cable.id"
        required
        cable.id
        #cable.id="ngModel"
      />
    </div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Attribute </mat-panel-title>
          <mat-panel-description>
            Klappe das Panel aus, um alle Attribute zu sehen
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Identification-Data </mat-panel-title>
            <mat-panel-description>
              Klappe das Panel aus, um alle Attribute zur Identifikation zu
              sehen
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="form-group">
            <label for="cable.attributes.identificationData.manufacturer"
              >Manufacturer</label
            >
            <input
              type="cable.attributes.identificationData.manufacturer"
              class="form-control"
              name="cable.attributes.identificationData.manufacturer"
              [(ngModel)]="cable.attributes.identificationData.manufacturer"
              required
              cable.attributes.identificationData.manufacturer
              #cable.attributes.identificationData.manufacturer="ngModel"
            />
            <br />
            <label for="cable.attributes.identificationData.manufacturerURI"
              >Manufacturer URI</label
            >
            <input
              type="cable.attributes.identificationData.manufacturerURI"
              class="form-control"
              name="cable.attributes.identificationData.manufacturerURI"
              [(ngModel)]="cable.attributes.identificationData.manufacturerURI"
              required
              cable.attributes.identificationData.manufacturerURI
              #cable.attributes.identificationData.manufacturerURI="ngModel"
            />
            <br />
            <label for="cable.attributes.identificationData.DeviceClass"
              >Device-Class</label
            >
            <input
              type="cable.attributes.identificationData.deviceClass"
              class="form-control"
              name="cable.attributes.identificationData.deviceClass"
              [(ngModel)]="cable.attributes.identificationData.deviceClass"
              required
              cable.attributes.identificationData.deviceClass
              #cable.attributes.identificationData.deviceClass="ngModel"
            />
            <br />
            <label for="cable.attributes.identificationData.model">Model</label>
            <input
              type="cable.attributes.identificationData.model"
              class="form-control"
              name="cable.attributes.identificationData.model"
              [(ngModel)]="cable.attributes.identificationData.model"
              required
              cable.attributes.identificationData.model
              #cable.attributes.identificationData.model="ngModel"
            />
            <br />
            <label for="cable.attributes.identificationData.ProductCode"
              >Product-Code</label
            >
            <input
              type="cable.attributes.identificationData.productCode"
              class="form-control"
              name="cable.attributes.identificationData.productCode"
              [(ngModel)]="cable.attributes.identificationData.productCode"
              required
              cable.attributes.identificationData.productCode
              #cable.attributes.identificationData.productCode="ngModel"
            />
            <br />
            <label for="cable.attributes.identificationData.productInstanceURI"
              >Product-Instance-URI</label
            >
            <input
              type="cable.attributes.identificationData.productInstanceURI"
              class="form-control"
              name="cable.attributes.identificationData.productInstanceURI"
              [(ngModel)]="
                cable.attributes.identificationData.productInstanceURI
              "
              required
              cable.attributes.identificationData.productInstanceURI
              #cable.attributes.identificationData.productInstanceURI="ngModel"
            />
            <br />
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> General-Technical-Data </mat-panel-title>
            <mat-panel-description>
              Klappe das Panel aus, um alle Attribute zu den Technischen Daten
              zu sehen
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="form-group">
            <div>
              <label
                for="cable.attributes.generalTechnicalData.ambientTemperature.temperatureMin"
                >Temperature-Min</label
              >
              <input
                type="cable.attributes.generalTechnicalData.ambientTemperature.temperatureMin"
                class="form-control"
                name="cable.attributes.generalTechnicalData.ambientTemperature.temperatureMin"
                [(ngModel)]="
                  cable.attributes.generalTechnicalData.ambientTemperature
                    .temperatureMin
                "
                required
                cable.attributes.generalTechnicalData.ambientTemperature.temperatureMin
                #cable.attributes.generalTechnicalData.ambientTemperature.temperatureMin="ngModel"
              />
              <br />
              <label
                for="cable.attributes.generalTechnicalData.ambientTemperature.temperatureMax"
                >Temperature-Max</label
              >
              <input
                type="cable.attributes.generalTechnicalData.ambientTemperature.temperatureMax"
                class="form-control"
                name="cable.attributes.generalTechnicalData.ambientTemperature.temperatureMax"
                [(ngModel)]="
                  cable.attributes.generalTechnicalData.ambientTemperature
                    .temperatureMax
                "
                required
                cable.attributes.generalTechnicalData.ambientTemperature.temperatureMax
                #cable.attributes.generalTechnicalData.ambientTemperature.temperatureMax="ngModel"
              />
              <br />
            </div>
            <label for="cable.attributes.generalTechnicalData.iPCode"
              >IP-Code</label
            >
            <input
              type="cable.attributes.generalTechnicalData.iPCode"
              class="form-control"
              name="cable.attributes.generalTechnicalData.iPCode"
              [(ngModel)]="cable.attributes.generalTechnicalData.iPCode"
              required
              cable.attributes.generalTechnicalData.iPCode
              #cable.attributes.generalTechnicalData.iPCode="ngModel"
            />
            <br />
            <label for="cable.attributes.generalTechnicalData.material"
              >Material</label
            >
            <input
              type="cable.attributes.generalTechnicalData.material"
              class="form-control"
              name="cable.attributes.generalTechnicalData.material"
              [(ngModel)]="cable.attributes.generalTechnicalData.material"
              required
              cable.attributes.generalTechnicalData.material
              #cable.attributes.generalTechnicalData.material="ngModel"
            />
            <br />
            <label for="cable.attributes.generalTechnicalData.weight"
              >Weight</label
            >
            <input
              type="cable.attributes.generalTechnicalData.weight"
              class="form-control"
              name="cable.attributes.generalTechnicalData.weight"
              [(ngModel)]="cable.attributes.generalTechnicalData.weight"
              required
              cable.attributes.generalTechnicalData.weight
              #cable.attributes.generalTechnicalData.weight="ngModel"
            />
            <br />
            <label for="cable.attributes.generalTechnicalData.height"
              >Height</label
            >
            <input
              type="cable.attributes.generalTechnicalData.height"
              class="form-control"
              name="cable.attributes.generalTechnicalData.height"
              [(ngModel)]="cable.attributes.generalTechnicalData.height"
              required
              cable.attributes.generalTechnicalData.height
              #cable.attributes.generalTechnicalData.height="ngModel"
            />
            <br />
            <label for="cable.attributes.generalTechnicalData.width"
              >Widht</label
            >
            <input
              type="cable.attributes.generalTechnicalData.width"
              class="form-control"
              name="cable.attributes.generalTechnicalData.width"
              [(ngModel)]="cable.attributes.generalTechnicalData.width"
              required
              cable.attributes.generalTechnicalData.width
              #cable.attributes.generalTechnicalData.width="ngModel"
            />
            <br />
            <label for="cable.attributes.generalTechnicalData.length"
              >Length</label
            >
            <input
              type="cable.attributes.generalTechnicalData.length"
              class="form-control"
              name="cable.attributes.generalTechnicalData.length"
              [(ngModel)]="cable.attributes.generalTechnicalData.length"
              required
              cable.attributes.generalTechnicalData.length
              #cable.attributes.generalTechnicalData.length="ngModel"
            />
            <br />
          </div>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Wires </mat-panel-title>
          <mat-panel-description>
            Klappe das Panel aus, um alle Wires zu sehen
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-group">
          <div *ngFor="let wire of cable.wires">
            <div>{{ wire.name }}</div>
          </div>
        </div>
        <button
          mat-icon-button
          class="add-icon"
          aria-label="Example icon-button with heart icon"
          [disableRipple]="true"
          (click)="addWire()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Connectors </mat-panel-title>
          <mat-panel-description>
            Klappe das Panel aus, um alle Connectors zu sehen
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-group">
          <div *ngFor="let connector of cable.connectors">
            <label for="connector.name">Connector Name</label>
            <input
              type="connector.name"
              class="form-control"
              name="connector.name"
              [(ngModel)]="connector.name"
              required
              connector.name
              #connector.name="ngModel"
            />
            <br />
            <div>
              <mat-expansion-panel *ngFor="let pin of connector.pins">
                <mat-expansion-panel-header
                  ><mat-panel-title>
                    Pin
                  </mat-panel-title></mat-expansion-panel-header
                >
                <div>Pin-Type: {{ pin.type }}</div>
                <div>Pin-Name: {{ pin.name }}</div>
                <br />
                <label for="connector.name">Verbunden mit:</label>
                <input
                  type="text"
                  class="form-control"
                  name="pin.connectedWireName"
                  [(ngModel)]="pin.connectedWireName"
                  required
                  pin.connectedWireName
                  #pin.connectedWireName="ngModel"
                />
              </mat-expansion-panel>
              <br />
            </div>
          </div>
          <button
            mat-icon-button
            class="add-icon"
            aria-label="Example icon-button with heart icon"
            [disableRipple]="true"
            (click)="addConnector()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Images </mat-panel-title>
        </mat-expansion-panel-header>
        <label for="cable.attachedImagePaths">Attached Image</label>
        <input
          type="file"
          class="form-control"
          name="cable.attachedImagePaths"
          [(ngModel)]="cable.attachedImagePaths"
          required
          cable.attachedImagePaths
          #cable.attachedImagePaths="ngModel"
        />
        <br />
        <label for="cable.attachedFilePaths">Attached File</label>
        <input
          type="file"
          class="form-control"
          name="cable.attachedFilePaths"
          [(ngModel)]="cable.attachedFilePaths"
          required
          cable.attachedFilePaths
          #cable.attachedFilePaths="ngModel"
        />
        <br />
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <div class="form-group footer-buttons">
      <button class="btn btn-danger btn-block" mat-dialog-close>Cancel</button>
      <span class="spacer"></span>
      <button class="btn btn-primary btn-block" (click)="confirmEdit()">
        Confirm
      </button>
    </div>
  </form>
</mat-card>
