.spacer {
  flex-grow: 1;
  width: 5%;
}

.footer-buttons {
  display: flex;
  width: 100%;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.canvas {
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
