:host {
  flex-grow: 1;
  display: flex;
}

mat-drawer-container {
  flex-grow: 1;
}

mat-drawer {
  background-color: var(--color_base);
  padding: 0.5rem;
}

.row {
  display: block;
  margin: 0.5rem;
}
