:host {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

mat-drawer-container {
  flex-grow: 1;
}

mat-drawer {
  background-color: var(--color_base);
  min-width: 20%;
}

.drawer-content {
  padding: 1rem 1rem 4rem;

  .drawer-row {
    display: grid;
    margin: 0;
    grid-gap: 0.5rem;
    grid-auto-flow: column;

    > * {
      display: block;
      margin: 0;
    }

    > mat-form-field {
      margin: -0.5rem 0;
    }

    *:is(h1, h2, h3, h4) {
      margin: 2rem 0 0;
    }

    .drawer-spacer {
      display: block;
      height: 4rem;
    }
  }
}


.drawer-button {
  $drawer-button-gap: 1rem;
  position: absolute;
  bottom: $drawer-button-gap;
  z-index: 2;

  &.close {
    right: $drawer-button-gap;
  }

  &.open {
    left: $drawer-button-gap;
  }
}

