$card-height: 400px;
$card-width: 320px;
$card-max-title-height: 120px;

:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.grid-item {
  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 2rem;
  }
}

.attributes-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  padding-top: 1rem;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: scale(3);
}
